main {
  background-color: #eeeeee;
  padding: 10px;
  color: #333333;
  font-family: 'Segoe UI', Arial;
}

h1, h2, h3, #tribute-info, figcaption {
  text-align: center;
}

h1 {
  font-size: 38px;
}

#img-div {
  background-color: #ffffff;
}

#image {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: 80%;
  display: block;
}

figcaption {
  margin: 10px;
  padding-bottom: 10px;
}

h2 {
  padding: 20px 0;
  font-size: 20px;
}

.list, blockquote {
  margin: 0 auto;
  max-width: 550px;
}

li {
  padding: 10px 0px 0px 10px;
}

blockquote {
padding: 10px 0px;
font-style: italic;
}

blockquote:p  {
  text-align: left;
}

h3 {
  position: relative;
}

a {
  color: #46ACC2;
}
